<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <form  method="post" >
      <div id="email">
        <div class="conc" id="conc">
          <img src="/images/email.webp" alt="" />
          <p>E-mail us from here</p>
        </div>
        <div class="conc" id="conc2">
          <h1 id="us">CONTACT US</h1>
          <input type="text" id="name" placeholder="Your name"  name="name"/>
          <input type="text" id="user" placeholder="User Email" name="email"/>
          <input type="text" id="message" placeholder="Message" name="message" />
          <button id="bin3">Send</button>
        </div>
      </div>
    </form>
</body>
</html>